


* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin-bottom: 10px;
    text-align: left;
    font-size: 50px;
 }

 nav ul {
    list-style: none; 
    text-align: right;
}

nav li {
    display: inline; 
    margin: 0 10px; 
    
}

nav a {
    text-decoration: none; 
    font-weight: bold; 
    color: #fff; 
}

